{% extends "base.html" %}
{% load static %}

{% block nav %}
     <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'delete_product' product.pk %}">Удалить товар</a>
        </li>
    <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'update_product' product.pk %}">Редактировать товар</a>
        </li>
{% endblock %}
{% block content %}
    <div class="card" style="width: 18rem;">
  <img src="#" class="card-img-top" alt="...">
  <div class="card-body">
    <h3>{{ product.product }}</h3><br/>
      <p class="card-text">{{ product.description }}<br/>
      {{product.get_category_display}}<br/>
      <p>Кол-во</p>{{ product.remainder }} шт<p/>
      <br/>
      <strong>{{ product.price }} y.e</strong>
  </div>
</div>
     <a href="{% url "index" %}">На главную</a>
{% endblock %}
